:root {
    --gaysep: 0.05;
}

html[class="debug"] * {
    /* border: 1px solid red !important; */
    background-color: #00f1 !important;
}

body {
    font-family: "Noto Sans", "Calibri", "Helvetica", "Arial", sans-serif;
    /* background-color: #dfe; */
    /* color: white; */
}

@keyframes cool-ass-animation {
    from { transform: scale(0%) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    to { }
}
@keyframes weeee {
    from {
        opacity: 0%;
        transform: rotateY(720deg);
    }
    to {
        opacity: 100%;
        transform: rotateY(0);
    }
}
@keyframes convenient {
    from { transform: scale(0%) rotateX(360deg) rotateY(720deg) rotateZ(360deg); }
    to { }
}

html, body {
    display: flex;
    margin: 0 0;
    text-shadow: 2px 2px 2px #0004;
}
p {
    margin: 0.5rem;
}

.evil {
    color: red;
}

.song {
    width: 100%;
}
.song-title {
    font-family: monospace;
    font-size: 1.5rem;
    margin: 1rem 0 0.25rem 0;
}
.song-arrangement {
    font-family: monospace;
    font-size: 1.5rem;
}
audio {
    width: 90%;
}

.cool-ass {
    animation: forwards 2s cool-ass-animation;
}
.spinny {
    animation: forwards 3s weeee;
}
.convenient {
    animation: infinite 2s convenient;
}

.big {
    font-size: 4rem;
}
.medium {
    font-size: 2rem;
}
.centered {
    align-items: center;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}

.gay {
    text-shadow:
        calc(1em  * var(--gaysep))  calc(1em  * var(--gaysep)) 0px #f00,
        calc(2em  * var(--gaysep))  calc(2em  * var(--gaysep)) 0px #f80,
        calc(3em  * var(--gaysep))  calc(3em  * var(--gaysep)) 0px #ff0,
        calc(4em  * var(--gaysep))  calc(4em  * var(--gaysep)) 0px #8f0,
        calc(5em  * var(--gaysep))  calc(5em  * var(--gaysep)) 0px #0f0,
        calc(6em  * var(--gaysep))  calc(6em  * var(--gaysep)) 0px #0f8,
        calc(7em  * var(--gaysep))  calc(7em  * var(--gaysep)) 0px #0ff,
        calc(8em  * var(--gaysep))  calc(8em  * var(--gaysep)) 0px #08f,
        calc(9em  * var(--gaysep))  calc(9em  * var(--gaysep)) 0px #00f,
        calc(10em * var(--gaysep))  calc(10em * var(--gaysep)) 0px #80f,
        calc(11em * var(--gaysep))  calc(11em * var(--gaysep)) 0px #f0f,
        calc(12em * var(--gaysep))  calc(12em * var(--gaysep)) 0px #f08,
        calc(13em * var(--gaysep))  calc(13em * var(--gaysep)) 0px #f00;
}

.remember-youre {
    text-shadow:
        0 0 0.5em var(--remembered),
        0 0 0.5em var(--remembered),
        0 0 0.5em var(--remembered),
        0 0 0.5em var(--remembered),
        0 0 0.5em var(--remembered),
        0 0 0.5em var(--remembered);
}

.image-container {
    margin: 0.25rem;
    border: 5px solid #dbf;
    background: #edf;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.image-container img {
    width: var(--w);
    margin: 0.25rem;
    border: 1px solid black;
}

.image-container * {
    /* max-width: var(--w); */
    overflow-wrap: anywhere;
}

.music-section {
    margin: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bordered {
    border: 1px solid black;
}

details {
    max-width: fit-content;
    border: 5px solid #8048;
    background-color: #80f1;
    padding: 10px;
}
